#loading {
    width: 5rem;
    height: 5rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid $main-color;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    position: fixed;
    top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 100;
    animation: spin 1s infinite linear;
    // width: 100px;
    // height: 100px;
}
#loading.display {
    visibility: visible;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}