<!-- <footer class="footer">
    <div class="container">
        <div class="footer__description">
            <p class="footer__paragraph">
                <svg class="footer__icon--c">
                    <use>

                    </use>
                </svg> 2021 | All Rights Reserved | Developed witch <svg class="footer__icon--heart">
                    <use>

                    </use>
                </svg> by GoIT Students
            </p>
        </div>
    </div>
</footer> -->

<!-- &#169 &#9829 -->
<footer class="footer">
    <div class="footer__container">
        <div class="footer__description">
            <p class="footer__paragraph"> &#169; 2021 | All Rights Reserved | Developed witch <span class="heart">&#9829;</span> by GoIT Students
            </p>
        </div>
    </div>
</footer>