<section class="header-container">
  <div class="overlay">
    <a href="./index.html">
      <img src="images/logo-event-booster.png" alt="main logo" class="logo logo-desktop"/>
      <img src="images/logo-tablet.png" alt="main logo" class="logo logo-tablet"/>
      <img src="images/logo-mobile.png" alt="main logo" class="logo logo-mobile"/>
    </a>
    <header class="header-text animate__animated animate__bounce">
      <div>FIND BEST EVENTS</div>
      <div>AROUND THE WORLD</div>
    </header>
    <div class="search-boxes">
      <input type="text" class="search-input" placeholder="Start searching"/>
      <img class="search-icon" src="images/search-icon.svg">
      <div class="select-box">
        <div class="options-container"></div>
        <div class="selected" value="US">Choose country</div>
      </div>
    </div>
    <div class="gradient"></div>
  </div>
</section>
